<h1>Login Form</h1>

<form #loginForm="ngForm" (ngSubmit)="onSubmit()">

  <div>
    <legend>
      Email:
      <input name="email" ngModel #email="ngModel" required>
    </legend>
    <div *ngIf="email.hasError('required')">
      Required!
    </div>
  </div>

  <div>
    <legend>
      Password:
      <input name="password" ngModel required appPasswordComplexity min-length="8" min-numbers="2">
      {{ loginForm.controls['password']?.value.length }}
    </legend>
    <div *ngIf="loginForm.controls['password']?.hasError('required')">
      Required!
    </div>
    <div *ngIf="loginForm.controls['password']?.getError('appPasswordComplexity') as error">
      Too weak!
      <span *ngIf="error === 'too-short'">
        Too short!
      </span>
      <span *ngIf="error === 'not-enought-numbers'">
        Password should contain at least two numbers!
      </span>
    </div>
  </div>

  <div>
    <legend>
      Retype password:
      <input name="password2" ngModel required>
    </legend>
    <div *ngIf="loginForm.controls['password2']?.hasError('required')">
      Required!
    </div>
  </div>

  <div>
    <button type="submit" [disabled]="loginForm.invalid">Submit</button>
  </div>

  <pre>
    {{ loginForm.value | json }}
  </pre>
</form>
