<h1>Login Form</h1>

<form #loginForm="ngForm" (ngSubmit)="onSubmit()">

  <div>
    <legend>
      Email:
      <input name="email" ngModel #email="ngModel" required>
    </legend>
    <div *ngIf="email.hasError('required')">
      Required!
    </div>
  </div>

  <div>
    <legend>
      Password:
      <input name="password" ngModel required>
    </legend>
    <div *ngIf="loginForm.controls['password']?.hasError('required')">
      Required!
    </div>
  </div>

  <div>
    <legend>
      Retype password:
      <input name="password2" ngModel required>
    </legend>
    <div *ngIf="loginForm.controls['password2']?.hasError('required')">
      Required!
    </div>
  </div>

  <div>
    <button type="submit" [disabled]="loginForm.invalid">Submit</button>
  </div>

  <pre>
    {{ loginForm.value | json }}
  </pre>
</form>
